[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "thirdparty/EWAHBoolArray"]
	path = thirdparty/EWAHBoolArray
	url = https://github.com/lemire/EWAHBoolArray
[submodule "thirdparty/sml"]
	path = thirdparty/sml
	url = https://github.com/boost-experimental/sml.git
[submodule "thirdparty/cmcstl2"]
	path = thirdparty/cmcstl2
	url = https://github.com/CaseyCarter/cmcstl2.git
[submodule "thirdparty/concurrentqueue"]
	path = thirdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
